/* media queries */


@media only screen and (max-width: 1200px) {
    /* .container {
        max-width: 80%;
    } */

}

@media only screen and (max-width: 600px) {
    .rev-duke,
    .rev-max,
    .rev-duke-bottom,
    .rev-diz,
    .rev-abbey,
    .rev-lil-pistoia,
    .book-cover-image,
    .book-cover-book {
        display: none;
    }

    .home-title,
    .header-discography {
        font-size: 4rem;
        margin-bottom: 0;
    }

    .subhead {
        display: none;
    }

    .lt {
        font-size: 1.2rem;
        padding: 0;
    }

    h1 {
        font-size: 4rem;
    }

    h4 {
        font-size: 1.65rem;
    }

    .header,
    .header-home {
        height: 90px;
    }

    blockquote,
    .lt {
        font-size: 1rem;
    }

    .footer {
        font-size: 70%;
    }
}

@media only screen and (min-width: 1000px) {



}
