*,
*::before,
*::after {
    box-sizing: content-box;
}

a {
    color: #067fa7;
}

blockquote {
    padding: 3% 0;
    text-align: justify;
    line-height: 2;
    font-style: italic;
    color: #bd574e;
    font-size: 1.2rem;
}

body {
    text-align: center;
    background-color: #fff;
    font-family: 'Cantarell', sans-serif;
    color: #3c4245;
}

footer {
    color: #5f6769;
    font-size: .8rem;
    margin: 1rem 0;
}

h2 {
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 400;
    padding-top: 10px;
    color: #bd574e;
    line-height: 1.8;
}

h3,
h4 {
    font-size: 1.5rem;
    padding-bottom: 10px;
    color: #1c819e;
}

h5 {
    font-size: 1.175rem;
    color: #1a6e8b;
    margin: 1rem;
}

/* Navigation Bar */
.navbar-brand {
    font-family: "Sacramento", cursive;
    font-size: 2.5rem;
    color: #990000!important;
    margin-right: 1%;
}

nav {
    background-color: #fff!important;
}

.bg-light {
    background-color: #fff!important;
}

.header-photos {
    margin-left: 8%;
}

/* Containers */
.container {
    max-width: 80%;
    padding-bottom: 1rem;
    height: 100%;
}

.container-contact {
    margin-top: 100px;
    padding-top: : 40px;
    justify-content: center;
    text-align: center;
}

/* Index page */
.lt {
    text-align: justify;
    display: block;
}

/* Biography Page */
.biography-content {
    text-align: left;
    padding: 1.5rem;
}

.biography-image {
    width: 33%;
    height: auto;
    float: right;
    border: 3px solid white;
    box-shadow:
        0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 6px 8px rgba(0, 0, 0, 0.1),
        0px 6px 8px rgba(0, 0, 0, 0.1);
}

.subhead {
    color: #1c819e;
    font-size: 1.2rem;
}

.names {
    color: #1c819e;
    font-size: 1rem;
}

/* Discography Page */
.cd {
    padding: 10px 0;
    width: 100%;
    display: inline-block;
}

.cd-cover {
    width: 220px;
    height: auto;
    padding: 0 30px 20px 0;
    float: left;
}

/* Book Page */
.book-cover-image {
    width: 30%;
    height: auto;
    float: right;
    margin-bottom: 1.25rem;
    margin-left: 1.25rem;
    border: 5px solid #fff;
    box-shadow:
        0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 6px 8px rgba(0, 0, 0, 0.1),
        0px 6px 8px rgba(0, 0, 0, 0.1);
}

.content {
    text-align: left;
    padding: .5rem 1rem;
}

/* Reviews page */
.downbeat-image {
    width: 40%;
    float: right;
    margin-bottom: 1.2rem;
    margin-left: 1.2rem;
    border: 5px solid #067fa7;
    box-shadow:
        0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 6px 8px rgba(0, 0, 0, 0.1),
        0px 6px 8px rgba(0, 0, 0, 0.1);
}

.title {
    font-weight: bold;
    font-size: 1.1em;
}

/* Photos Page */
.carousel-inner {
    overflow: hidden;
}

/* Contact Page */
.contact {
    padding-top: 20px;
    font-size: 1.6rem;
}

.contact-caption {
    font-size: 1rem;
    max-width: 75%;
    justify-content: center;
}

.contact-image {
    width: 50%;
    height: auto;
    margin-bottom: 20px;
    border: 7px solid white;
    box-shadow:
        0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 6px 8px rgba(0, 0, 0, 0.1),
        0px 6px 8px rgba(0, 0, 0, 0.1);
}

/* Pull-Out Quotes */
.blurb h2 {
    font-size: 2rem;
}

.quote {
    width: auto;
    margin: 15px 0;
    line-height: 2;
}

/* Images */
.img-thumbnail {
    border: 1px solid #dee2e6;
}
